<%- include('../../header.ejs') %>
    <section class="dashboard-wrap main_section">
        <div class="container">
            <div class="body-content">
                <div class="row">
                    <div class="col-md-3">
                        <%- include('../sidebar.ejs') %>
                    </div>
                    <div class="col-md-9">
                        <div class="dash-right">
                            <div class="dash-header">
                                <div class="dash-title">
                                    <h1>Category Edit</h1>
                                </div>
                            </div>
                            <!-- Edit form start  -->

                            <form action="/categoryupdate/<%= d._id %>" method="post">
                                <div class="form-group">
                                    <label for="">Category Name</label>
                                    <input type="text" name="categoryname" class="form-control" value="<%= d.cname %>">
                                </div>

                                <div class="form-group">
                                    <label for="">Title</label>
                                    <input type="text" name="title" class="form-control" value="<%= d.Title %>">
                                </div>
                                <button type="submit" class="btn btn-info">Update</button>
                            </form>
                            <!-- edit form end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('../../footer.ejs') %>