<%- include('../../header.ejs') %>
    <section class="dashboard-wrap main_section">
        <div class="container">
            <div class="body-content">
                <div class="row">
                    <div class="col-md-3">
                        <%- include('../sidebar.ejs') %>
                    </div>
                    <div class="col-md-9">
                        <div class="dash-right">  
                            <div class="dash-header">
                                <div class="dash-title">
                                    <h1>Blog Updation</h1>
                                </div>
                                <div class="dash-nav">
                                </div>
                            </div>
                            <!-- Edit form start  here -->
                            <form action="/aboutUpdate/<%= d._id %>" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="">Id</label>
                                    <input type="text" id="" class="form-control" value="<%= d._id %>" name="_id"/>
                                </div>

                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" id="title" class="form-control" value="<%= d.Title %>" name="title"/>
                                </div>

                                <div class="form-group">
                                    <label for="Des">Description</label>
                                    <input type="text" name="des" class="form-control" id="Des" value="<%= d.description %>"/>
                                </div>

                                <div class="form-group">
                                    <label for="Blog">Category</label>
                                    <input type="text" id="Blog" name="blogname" class="form-control" value="<%= d.cname %>"/>
                                </div>

                                <div class="form-group">
                                    <label for="post">Posted on</label>
                                    <input type="text" id="post" name="post_on" class="form-control" value="<%= d.Posted_on %>"/>
                                </div>

                                <div class="form-group">
                                    <label for="img">Image</label>
                                    <input type="file" name="image" class="form-control mb-3" id="img"/>
                                    <img src="<%= d.image.url %>" alt="" width="25%">
                                </div>

                                <button type="submit" class="btn btn-info">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<%- include('../../footer.ejs') %>